# Ignore files and directories that should not be tracked by Git
.vscode/
*.code-workspace

# Ensure these files are ignored no matter where they are located
*/phpcs.xml
*/composer.lock
*/composer.json
*/vendor/
