parameters:
  level: 6
  paths:
    - mu-plugins
    - update-api
  bootstrapFiles:
    - phpstan/bootstrap-wordpress.php

  # Optional: silence WP globals noise you don’t care about
  ignoreErrors:
    - '#Call to (function|method) (add_action|add_filter)#'
