parameters:
  level: 6
  paths:
    - mu-plugin
    - update-api
  bootstrapFiles:
    - .github\phpstan-bootstrap.php

  # Optional: silence WP globals noise you don’t care about
  ignoreErrors:
    - '#Call to (function|method) (add_action|add_filter)#'
