RewriteEngine On

# Block direct access to .php files except via rewrite rules and allow api.php
<Files "api.php">
    Order allow,deny
    Allow from all
</Files>
<FilesMatch "\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Serve existing files and directories as-is (except .php)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


# Redirect '/', '/index.php', and '/login.php' for external requests only
RewriteCond %{THE_REQUEST} \s(/|/index\.php|/login\.php) [NC]
RewriteRule ^(index\.php|feeds\.php.*)?$ /home [L,R=301]

# Internally rewrite /login to login.php
RewriteCond %{REQUEST_URI} ^/login$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login$ /login.php [L]

# Internally rewrite /home, /users, /accounts, /info to index.php?page=home, etc.
RewriteCond %{REQUEST_URI} ^/(home|users|accounts|info)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(home|users|accounts|info)$ /index.php?page=$1 [L]

# Internally rewrite /plupdate, /thupdate, /logs to index.php?page=<page>
RewriteCond %{REQUEST_URI} ^/(plupdate|thupdate|logs)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(plupdate|thupdate|logs)$ /index.php?page=$1 [L]
