/* V WP Updater Admin Dashboard Styles */
#wpbody-content #dashboard-widgets {
	display: flex;
	flex-wrap: wrap;
}

#v_updater_widget_settings {
	order: 1;
	width: calc(66.66% - 10px);
}

@media (max-width: 1024px) {
	#v_updater_widget_settings {
		width: 100%;
	}
}

@media (max-width: 768px) {
	#v_updater_widget_settings {
		width: 100%;
	}
}

/* Widget container styles */
.v-updater-widget {
	padding: 10px;
}

.v-updater-widget-settings .form-table {
	margin-top: 10px;
}
